  body {
    display: flex;
    flex-direction: column;
    line-height: 1.3;
    background-color: rgb(211, 226, 224);
  }

  header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 1%;
    background-color: #232224;
    color: #fff;
  }

  h1 {
    margin: 5%;
    font-size: 300%;
    font-family:monospace;
    text-shadow: 1px 1px 10px darkslategray, 1px 1px 5px cyan;
  }

  nav ul {
    display: flex;
    justify-content: space-around;
    min-width: 350px;
  }

  nav a {
    margin-right: 10px;
    color: darkslategray;
    font-weight: bold;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  nav a:hover {
    text-shadow: 1px 1px 10px rgb(47, 255, 193), 1px 1px 5px rgb(35, 233, 220);
  }

  header img {
    border-radius: 50%;
    box-shadow: 1px 1px 10px rgb(47, 255, 193), 1px 1px 5px rgb(35, 233, 220);
    width: 100px;
    height: 100px;
  }

  aside {
    /* display: inline; */
    display: flex;
    align-items: center;
    height: 300px;
    width:20%;
    min-width: 250px;
    border-right: 5px solid darkslategray;
    padding-bottom: 20%;
    padding-right: 15px;
    margin-right: 15px;
  }

  .section-container {
    display: flex;
    align-items: center;

  }

  aside h2 {
    align-items: center;
    text-decoration: underline;
    font-size: 200%;
    font-family: monospace;
    margin: 5%;
  }

  .about-me p {
    display: flex;
    justify-content: space-around;
    margin: 10%;
    min-height: 250px;
    max-width: 1200px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#232224;
    word-spacing: 2px;
    font-size: 160%;
    border: 7px solid rgb(87, 122, 111);
    border-radius: 15px;
    background: rgb(200, 211, 205);
  }

  .work img {
    width: 300px;
    height: 300px;
    border: 5px solid rgb(87, 122, 111);
    border-radius: 5px 5px 5px 5px;
  }

  .work img:hover {
    opacity: .7;
  }

  .work {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    position: relative;
    padding: 10%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: auto;
    height: auto;
    color:#232224;
  }

  .work p {
    max-width: fit-content;
    min-height: 100%;
    padding: 2px;
  }

  .work h3 {
    max-width: fit-content;
    font-size: 140%;
    min-height: 100%;
    padding: 2px;
  }

  .accessibility {
    position: relative;
    bottom:65px;
    border-radius: 0px 0px 15px 15px;
    background-color: rgb(87, 122, 111);

  }

  .contact-me {
    display: flex;
    /* position: relative; */
    padding: 10%;
  }

  .contact-me ul {
    display: flex;
    /* min-width: 350px; */
  }

  .contact-me a {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    width: 150px;
    margin: 10px;
    text-decoration: underline;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#232224;
  }

  .contact-me a:hover {
    text-shadow: 1px 1px 10px rgb(47, 255, 193), 1px 1px 5px rgb(35, 233, 220);
  }
  
  @media screen and (max-width: 768px) {
    header {
      flex-direction: column;
    }

    aside {
        border-right: none;
        border-bottom: 5px solid darkslategray;
        height: auto;
        width: auto;
        padding-bottom: 0%;
        padding-right: 0px;
        margin-right: 0px;    
    }

    aside h2 {
        text-decoration: none;
    }
  
    .section-container {
        flex-direction: column;
        min-width: none;
        padding-right: 0;
    }

    .contact-me a {
        /*fix*/
        display: flex;
        flex-wrap: wrap;
    }
  }