  body {
    display: flex;
    flex-direction: column;
    line-height: 1.3;
    background-color: rgb(179, 192, 191);
  }

  header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 1%;
    background-color: #232224;
    color: #fff;
  }

  h1 {
    margin: 5%;
    font-size: 300%;
    font-family:monospace;
    text-shadow: 1px 1px 10px darkslategray, 1px 1px 5px cyan;
  }

  nav ul {
    display: flex;
    justify-content: space-around;
    min-width: 350px;
  }

  nav a {
    margin-right: 10px;
    color: darkslategray;
    font-weight: bold;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  nav a:hover {
    text-shadow: 1px 1px 10px rgb(47, 255, 193), 1px 1px 5px rgb(35, 233, 220);
  }

  header img {
    border-radius: 50%;
    box-shadow: 1px 1px 10px rgb(47, 255, 193), 1px 1px 5px rgb(35, 233, 220);
    width: 100px;
    height: 100px;
  }

  aside {
    display: flex;
    width:20%;
    border-right: 5px solid darkslategray;
    padding-bottom: 20%;
    padding-right: 15px;
    margin-right: 15px;
  }

  h2 {
    text-decoration: underline;
    font-size: 200%;
    font-family: monospace;
    margin: 5%;
  }

  .about-me p {
    display: flex;
    max-width: 1200px;
    padding-left: 30%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#232224;
    word-spacing: 2px;
  }

  .work img {
    width: 300px;
    height: 300px;
    border: 2px solid darkslategray;
    border-radius: 5px 5px 5px 5px;
  }

  .work {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    max-width: 1200px;
    padding-left: 30%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#232224;
  }

  .contact-me {
    display: flex;
    max-width: 1200px;
    padding-left: 30%;
  }

  .contact-me a {
    text-decoration: none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#232224;
  }
  
  @media screen and (max-width: 768px) {
    header {
      flex-direction: column;
    }
  
    section {
      padding-right: 0;
    }
  
  }